<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

        <title>InvestNaira | Save, Invest, Compound</title>
</head>
<body onscroll="opacitypro()">
	<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
	<div class="logo_house_res"><img src="assets/img/ico/favicon.ico"></div>
	<ul class="nav">
    <li class="active1"><a href="/">Home</a> </li>
    <li><a href="#">Forum</a> </li>
    <li><a href="http://www.investnaira.com">Blog</a> </li>
    <li><a href="/dashboard">Dashboard</a> </li>
<li><a href="/strategy">Our Strategy</a> </li>
    </ul>
   <div class="beside_me" id="beside_me1" >
  <span onclick="help()">&#x2630;</span>
</div>
<div class="beside_me" id="beside_me2" style="display: none;">
  <span onclick="help2()">&#x2630;</span>
</div>
</div>
<ul class="res_header" id="hepp2">
  <li class="nicki" id="nicki"><a href="/">Home</a> </li>
    <li class="nicki" id="nicki1"><a href="#">Forum</a> </li>
    <li class="nicki" id="nicki2"><a href="#">Blog</a> </li>
    <li class="nicki" id="nicki3"><a href="/dashboard">Dashboard</a> </li>
    <li class="nicki" id="nicki4"><a href="/strategy">Our Strategy</a> </li>
</ul>

        <div class="main_cont_blg" id="main" >
        	<h3> What is the difference between the riskless and risky percentage allocations?</h3>
          <!-- <h4>By visiting this site and using our services, you accept our terms and conditions. </h4> -->
        	<p>The riskless percentage allocations are invested in secured assets and offer minimum returns. Because
they are in secured asset classes. They earn returns daily and can be called back on short notice.
The risky allocation are invested in securities that have a longer investment duration to earn
conmesurate yields. Hence they are locked up for that particular duration. .</p>
          <h3>Can I specify my duration of Investing?</h3>
        	<p>Yes you can. From a minimum of 1 months till forever. The longer you specify the more the compounded returns. 

</p>

<h3>Can I switch my investment allocation options between risky and riskless? </h3>
<p>Yes. You can always switch your investment allocation option based on your risk level and duration.
</p>

<h3>How long can I compound my money with InvestNaira?</h3>
			<p> For as long as you want. Remember, we are building with you a generational nest egg. We want to
compound with you to leave an inheritance with your children children.. </p>


        </div>

        </div>
        <div class="share_article" id="share_article" >
                        <!-- twitter -->
                <a href="http://twitter.com/home?status=investNaira" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter" style="color: #1DA1F2;"></i></a>
                <!-- Facebook -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook" style="color: #3b5998;"></i></a>
                <!-- Google+ -->
                <a href="https://plus.google.com/share?url=SHAREMESSAGE" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus" style="color: #d34836;"></i></a>
                <!-- StumbleUpon -->
                <a href="http://www.stumbleupon.com/submit?url=SHAREMESSAGE" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon" style="color: #f74425;"></i></a>
                <!-- LinkedIn -->
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=SHAREMESSAGE" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i  class="fa fa-linkedin" style="color: #0e76a8;"></i></a>
                            </div>
                            <div class="footer">
                            <div class="foot_div">
                              <h3>tag cloud</h3>
                              <a href="#"><span class="tags_up"><i class="fa fa-chevron-right"></i>Forum</span></a><br />
                              <a href="#"><span class="tags_up"><i class="fa fa-chevron-right"></i>Blog</span></a><br />
                              <a href="/dashboard"><span class="tags_up"><i class="fa fa-chevron-right"></i>Dashboard</span></a><br />
                              <span class="tags_up"><i class="fa fa-chevron-right"></i>Profile</span><br />
                            </div>
                             <!-- <div class="foot_div" style="width:23%;">
                              <h3>get our montly newsletter</h3>
                              <form class="type_in">
                                <input type="email" name="email" placeholder="E-mail"
                                style="width: 40%;" class="tips">
                                <input type="submit" name="submit" value="submit" class="submit1" style="background-color: transparent;width: 30%;color: grey;display: inline-block;border:1px solid grey;">
                              </form>
                             </div> -->
                             <div class="foot_div" style="width:23%;">
                               <h3>Legal</h3>
                               <a href="/terms" style="color:grey;"> Terms & Conditions</a><br>
                               <a href="/privacy" style="color: grey;"> Privacy policy</a> <br>
                                <a href="/faq" style="color: grey;">FAQS</a>
                            </div>
                              <div class="foot_div">
                                <h3>contact us</h3>
                                <span class="con_span">
                                7, Solaru Street, Gbagada, Lagos<br />
                                <i class="fa fa-phone"></i>:08099921766,08077522997
                                </span>
                              </div>
                              <div class="foot_div">
                                <h3>Social</h3>
                                <div class="social_link">
                          <a href="https://www.instagram.com/investnaira"  target="_blank">  <span><i class="fa fa-instagram"></i> instagram</span></a><br />
                          <a href="https://www.facebook.com/investnaira"  target="_blank">  <span><i class="fa fa-facebook"></i> facebook</span></a><br />
                          <a href="https://www.twitter.com/investnaira"  target="_blank"><span><i class="fa fa-twitter"></i> twitter</span></a><br>
                          <a href="https://plus.google.com/u/0/107243716577182087525"  target="_blank"><span><i class="fa fa-google-plus"></i> google plus</span></a><br>
                        </div>

                              </div>

                            </div>


                        </body>
                        </html>
