<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

        <title>InvestNaira | Save, Invest, Compound</title>
</head>
<body>
<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
	<ul class="nav">
    <li class="active1"><a href="/">Home</a> </li>
    <li><a href="#">Forum</a> </li>
    <li><a href="http://www.investnaira.com">Blog</a> </li>
    <li><a href="/dashboard">Dashboard</a> </li>
<li><a href="/strategy">Our Strategy</a> </li>
    </ul>
    <div class="beside_me">
  &#x2630;
</div>
</div>
<ul class="res_header" id="hepp2">
  <li class="nicki" id="nicki"><a href="/">Home</a> </li>
    <li class="nicki" id="nicki1"><a href="#">Forum</a> </li>
    <li class="nicki" id="nicki2"><a href="#">Blog</a> </li>
    <li class="nicki" id="nicki3"><a href="/dashboard">Dashboard</a> </li>
    <li class="nicki" id="nicki4"><a href="/strategy">Our Strategy</a> </li>
</ul>

<div class="sec_pho" style="padding-bottom: 0;">
    <div class="header2">
        <ul class="nav2">
          <li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
      			<li><a href="/save"><i class="fa fa-send"></i> Save</li>
      			<li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
      			<li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
      			<li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

        </ul>

    </div>

    <div class="dasee2">
    <ul class="nav3"><li><i class="fa fa-money"></i> invest</li></ul>
            <div class="beside_me2">
            <span onclick="openNav()">
            &#8226;
             &#8226;
             &#8226;
             </span>

</div>
        </div>
        <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul class="nav3">
    <li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
      <li><a href="/save"><i class="fa fa-send"></i> Save</li>
      <li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
      <li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
      <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

        </ul>
</div>
        <div class="floats_on" id="main" >
        <div class="company_case" style="width: 100%;">
           <h2 class="center_me">Plan types</h2>
            <h4 class="center_me">Choose your destination</h4>
           <div class="div_pad_three">
            <h3>Lagos</h3>
               <span class="spin_me_side">
                   <h4>riskless <br /> assets</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> assets</h4>
               </span>
               <span class="spin_me_side"><span class="write_me_the_numbers">
                   20%
               </span>
           </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                       80%
                   </span>
               </span>
               <br>
                <span class="line"><span class="sub-line"></span></span>
               <p style="margin-top: 3%; font-weight: bold;">-Fast paced <br>-Love the hustle and bustle of investing.
                 <br>-Big Risk Big Rewards.
<br>-Suitable for Young and Vibrant people.
<br>16-28</p>
           </div>
           <div class="div_pad_three">
            <h3>Port Harcourt</h3>
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                    <span class="write_me_the_numbers">
                   50%
               </span>
                </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                       50%
                   </span>
               </span>
               <br>
                <span class="line"><span class="sub-line"></span></span>
               <p  style="margin-top: 3%; font-weight: bold;"> -Medium Paced
                 <br> -Love the hustle, but also love to smell the roses.
                 <br>-Medium Risk, Medium Rewards
<br>-Suitable for Working Class people with a family: 28-40</p>
           </div>
           <div class="div_pad_three">
            <h3>Abuja</h3>
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                     <span class="write_me_the_numbers">
                   80%
               </span>
                </span>
               <span class="spin_me_side1">
                    <span class="write_me_the_numbers_bold">
                       20%
                   </span>
               </span>
               <br>
                <span class="line"><span class="sub-line"></span></span>
               <p style="margin-top: 3%; font-weight: bold;"> -Low Risk
                 <br>-Take things like the bureaucrats.
                 <br>-Love sure and certain.
                 <br>-Low Risk, Low Rewards.
<br>-Suitable for Older People
40 Plus </p>
           </div>
           <div class="div_pad_three">
            <h3>CUSTOM</h3>
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                      <span class="write_me_the_numbers">
                  custom
               </span>

                </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                      custom
                   </span>

               </span>
               <br>
                <span class="line"><span class="sub-line"></span></span>
               <p  style="margin-top: 3%; font-weight: bold;"> -Bespoke
                 <br>-Want to tailor your risk on a different pedestal.</p>
           </div>

        </div>
        <div class="center_me">
             <a href="javascript:openDeposit()"><button> Make A Deposit</button></a>
               <a href="javascript:openSubscribe()"><button> Set up a Subscription </button></a>
        </div>
        <div class="center_me" style="margin-top: 3%;">By clicking these buttons you agree to the
          <a href="/terms" style="color: #00A65A">Terms & Conditions</a>  and <a href="/privacy" style="color: #00A65A;">Privacy Policy </a> </div>


</div>
</div>
    <script type="text/javascript">


/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
     document.getElementById("mySidenav").style.zIndex = "500";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
</script>
<script type="text/javascript" src="assets/js/iye.js"></script>
</body>
