<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

	<title>dashboard/investNaira</title>
</head>
<body>
<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
  <ul class="nav">
        <li><a href="/">Home</a> </li>
        <li><a href="#">Forum</a> </li>
        <li><a href="#">Blog</a> </li>
        <li class="active1"><a href="/dashboard">Dashboard</a> </li>
        <li><a href="/profile">Profile</a> </li>
    </ul>
    <div class="beside_me">
  &#x2630;
</div>
</div>
<ul class="res_header" id="hepp2">
  <li class="nicki" id="nicki"><a href="/">Home</a> </li>
    <li class="nicki" id="nicki1"><a href="#">Forum</a> </li>
    <li class="nicki" id="nicki2"><a href="#">Blog</a> </li>
    <li class="nicki" id="nicki3"><a href="/dashboard">Dashboard</a> </li>
    <li class="nicki" id="nicki4"><a href="/profile">Profile</a> </li>
</ul>

<div class="sec_pho" style="padding-bottom: 0;">
    <div class="header2">
      <ul class="nav2">
      <li><a href="/dashboard"><i class="fa fa-th"></i> overview</a></li>
          <li><a href="/save"><i class="fa fa-send"></i> save</li>
          <li><a href="/invest"><i class="fa fa-money"></i> invest</li>
          <li><a href="/compound"><i class="fa fa-bar-chart"></i> compound wealth</a></li>
          <li><a href="/invite"><i class="fa fa-users"></i> invite friends</a></li>

      </ul>
    </div>
    </div>

    <div class="dasee2">
    <ul class="nav3"><li><i class="fa fa-money"></i> invest</li></ul>
            <div class="beside_me2">
            <span onclick="openNav()">
            &#8226;
             &#8226;
             &#8226;
             </span>

</div>
        </div>
        <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul class="nav3">
        <li><a href="/dashboard"><i class="fa fa-th"></i> overview</a></li>
            <li><a href="/save"><i class="fa fa-send"></i> save</a></li>
            <li><a href="/invest"><i class="fa fa-money"></i> invest</a></li>
            <li><a href="/compound"><i class="fa fa-bar-chart"></i> compound wealth</a></li>
            <li><a href="/invite"><i class="fa fa-users"></i> invite friends</a></li>

        </ul>
</div>
        <div class="floats_on" id="main" style="background-color: #fff;">
        <div class="company_case" style="width: 100%;">
           <h2>choose your destination</h2>
           <div class="div_pad_three">
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
               <span class="spin_me_side"><span class="write_me_the_numbers">
                   20%
               </span>
           </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                       80%
                   </span>
               </span>
           </div>
           <div class="div_pad_three">
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                    <span class="write_me_the_numbers">
                   50%
               </span>
                </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                       50%
                   </span>
               </span>
           </div>
           <div class="div_pad_three">
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                     <span class="write_me_the_numbers">
                   80%
               </span>
                </span>
               <span class="spin_me_side1">
                    <span class="write_me_the_numbers_bold">
                       20%
                   </span>
               </span>
           </div>
           <div class="div_pad_three">
               <span class="spin_me_side">
                   <h4>riskless <br /> asset</h4>
               </span>
               <span class="spin_me_side1">
                   <h4>risky <br /> asset</h4>
               </span>
                <span class="spin_me_side">
                      <span class="write_me_the_numbers">
                  custom
               </span> 
            <a href="javascript:openwindow()"><button type="button" class="button_me_up" >Make a deposit</button> </a>
                </span>
               <span class="spin_me_side1">
                   <span class="write_me_the_numbers_bold">
                      custom
                   </span>
                   <a href="https://paystack.com/pay/insubscribe"><button type="button"  class="button_me_up"> Set up subscription </button></a>
               </span>
           </div>

        </div>
        <form action="/pay" method="get">
            <button type="submit" class="btn btn-warning btn-lg">paystack</button>
        </form>
        <form action="/subscribe" method="get">
            <button type="submit" class="btn btn-warning btn-lg">paystack</button>
        </form>
</div>

    <script type="text/javascript">


/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
     document.getElementById("mySidenav").style.zIndex = "500";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
</script>
