<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
       <!--  <link href="/assets/css/lapys.css" media="all" rel="stylesheet" type="text/css"> -->
        <!-- font awesome -->
        <link href="/assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
        <!-- javascript -->
        <script type="text/javascript" src="/assets/js/iye.js"></script>
        <script type="text/javascript" src="/assets/js/login.js"></script>


        <!-- Base Stylesheet -->
        <link href="/assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="/assets/css/login.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="/img/ico/favicon.ico">
        <title>InvestNaira | Save, Invest, Compound</title>
</head>
<body>
<!--/start-main-->
<div class="main">
	<div class="wrap">
	<!--/start-topo-one-->
	<div class="top-one">
	<!--/start-login-->

	<div class="login-one">
    <!-- <div class="shadow-clone"> -->
	<div class="create-account"  style="">
		<div class="login-head" style="margin-bottom: 4%;">
      <div class="image_house">
       <img  class="image_house_pic" src="assets/img/png/brand.png">
   </div>
					<h2>Sign in</h2>
					<span class="line">
						<span class="sub-line"></span>
					</span>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

			</div>
			<form action="/login" method="post" style="overflow: hidden;">

       <div class="span_up">
        <a href="/auth/facebook" class="fa fa-facebook" style="color: #3b5998;"></a>
        <a href="/auth/twitter" class="fa fa-twitter" style="color: #1DA1F2;"></a>
        <a href="/auth/google" class="fa fa-google-plus" style="color: #d34836;"></a>
        <p>OR</p>
        </div>
			<p>Email <lable>*</lable></p>
				<input type="email" class="text" name="email" style=" border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 166, 90);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;">
    <p>Password <lable>*</lable></p>
				<input type="password" class="text" name="password" style="    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 166, 90);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;">

    <span class="sign-up" style="margin-bottom: 3%;display: block;">
    	<input type="submit" class="" value="login" style="    float: left;
    background: #e2e5e2;
    padding: 0.7em 1.4em;
    color: #3B3B3B;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1.1em;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
">
    </span>

			</form>
<h5> You don't have an account yet ? <a  class="signup play-icon popup-with-zoom-anim" href="/signup">Signup</a></h5>

      <h5 class="center_me" style="margin-top: 3%;">By clicking LOGIN you agree to the
        <a href="/terms" style="color: #00A65A">Terms & Conditions</a>  and <a href="/privacy" style="color: #00A65A;">Privacy Policy </a> </h5>
            <div class="clear">

        </div>
	<!-- </div> -->
    </div>


	</div>
	</div>

		</div>
	</div>
</div>
	</div>
	<!--//end-copyright-->
</body>
</html>
