<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

	<title>dashboard/investNaira</title>
</head>
<body>
<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
	<ul class="nav">
        <li><a href="/">Home</a> </li>
        <li><a href="#">Forum</a> </li>
        <li><a href="#">Blog</a> </li>
        <li class="active1"><a href="/dashboard">Dashboard</a> </li>
        <li><a href="/strategy">Our Strategy</a> </li>
    </ul>
    <div class="beside_me">
  &#x2630;
</div>
</div>
<div class="sec_pho" style="background-color:#ffffff;">
    <div class="header2">
        <ul class="nav2">
          <li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
      			<li><a href="/save"><i class="fa fa-send"></i> Save</li>
      			<li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
      			<li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
      			<li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

        </ul>

    </div>

    <div class="dasee2">
    <ul class="nav3"><li><i class="fa fa-send"></i> save</li></ul>
            <div class="beside_me2">
            <span onclick="openNav()">
            &#8226;
             &#8226;
             &#8226;
             </span>

</div>
        </div>
        <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul class="nav3">
    <li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
      <li><a href="/save"><i class="fa fa-send"></i> Save</li>
      <li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
      <li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
      <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

        </ul>
        </div>





<!--
        <div class="wood-work" id="main">
            <div>
                <h3>Articles</h3>
               <span class="line"><span class="sub-line"></span></span>
               <div class="box_up">
                   <div class="blog_case">
                       <div class="blog_pics">
                           <img src="assets/img/png/pexels-photo-567451(1).jpeg">
                       </div>
                       <a href=""><div class="blog_words" style="padding-left: 5%;">
                       <div class="blog_words1">
                           <h5>A new kind of map: it’s about time</h5>
                           <span class="name_aut">An introduction to web accessibility. Tips on how to improve the accessibility of your web sites and apps with CSS.
Go to the profile of Manuel Matuzovic</span></a>
                       </div>
                       <div class="blog_words2">
                           <img src="assets/img/png/pexels-photo-544716(1).jpeg">
                           <span class="read_up"><a href="">fajimi iyeoluwa</a></span>
                       </div>


                    </div>




                   </div>



                   <div class="blog_case">
                       <div class="blog_pics">
                           <img src="assets/img/png/pexels-photo-567451(1).jpeg">
                       </div>
                       <a href=""><div class="blog_words" style="padding-left: 5%;">
                       <div class="blog_words1">
                           <h5>A new kind of map: it’s about time</h5>
                           <span class="name_aut">An introduction to web accessibility. Tips on how to improve the accessibility of your web sites and apps with CSS.
Go to the profile of Manuel Matuzovic</span></a>
                       </div>
                       <div class="blog_words2">
                           <img src="assets/img/png/pexels-photo-544716(1).jpeg">
                           <span class="read_up"><a href="">fajimi iyeoluwa</a></span>
                       </div>
                     </div>
                     </div>

                     <div class="blog_case">
                       <div class="blog_pics">
                           <img src="assets/img/png/pexels-photo-567451(1).jpeg">
                       </div>
                       <a href=""><div class="blog_words" style="padding-left: 5%;">
                       <div class="blog_words1">
                           <h5>A new kind of map: it’s about time</h5>
                           <span class="name_aut">An introduction to web accessibility. Tips on how to improve the accessibility of your web sites and apps with CSS.
Go to the profile of Manuel Matuzovic</span></a>
                       </div>
                       <div class="blog_words2">
                           <img src="assets/img/png/pexels-photo-544716(1).jpeg">
                           <span class="read_up"><a href="">fajimi iyeoluwa</a></span>
                       </div>
                     </div>
                 </div>
                   <div class="blog_case">
                       <div class="blog_pics">
                           <img src="assets/img/png/pexels-photo-567451(1).jpeg">
                       </div>
                       <a href=""><div class="blog_words" style="padding-left: 5%;">
                       <div class="blog_words1">
                           <h5>A new kind of map: it’s about time</h5>
                           <span class="name_aut">An introduction to web accessibility. Tips on how to improve the accessibility of your web sites and apps with CSS.
Go to the profile of Manuel Matuzovic</span></a>
                       </div>
                       <div class="blog_words2">
                           <img src="assets/img/png/pexels-photo-544716(1).jpeg">
                           <span class="read_up"><a href="">fajimi iyeoluwa</a></span>
                       </div>
                     </div> -->





            <div class="overview1">
            <h3>Videos</h3>
<iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLQXxV_EMDFbKug8W9TYMF7FT1ETsPCLEA" frameborder="0" allowfullscreen></iframe>

</div>
<div class="overview1">
                   <h3>Podcasts</h3>
                   <iframe src="https://www.podomatic.com/embed/html5/podcast/5611557?style=normal&amp;autoplay=false" style="width: 90%; height: 208px;" allowfullscreen="true"></iframe>




        </div>
        <script type="text/javascript">


/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
     document.getElementById("mySidenav").style.zIndex = "500";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
</script>
</div>
