<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
       <!--  <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css"> -->
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
        <!-- javascript -->
        <script type="text/javascript" src="assets/js/iye.js"></script>
        <script type="text/javascript" src="assets/js/login.js"></script>


        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/login.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">
	<title>Signup | investNaira</title>
</head>
<body>
<!--/start-main-->
<div class="main">
	<div class="wrap">
	<!--/start-topo-one-->
	<div class="top-one">
	<!--/start-login-->
	<div class="login-one">

		<div class="create-account" id="c-acc2">
			<div class="login-head">
        <div class="image_house">
         <img  class="image_house_pic" src="assets/img/png/brand.png">
     </div>
					<h2>join us</h2>
					<span class="line">
						<span class="sub-line"></span>
					</span>

			</div>

				<form action="/signup" method="post">
          <div class="span_up">
            <p style="color: #333;"> Sign up using</p> <br>
           <a href="/auth/facebook" class="fa fa-facebook" style="color: #3b5998;"></a>
           <a href="/auth/twitter" class="fa fa-twitter" style="color: #1DA1F2;"></a>
           <a href="/auth/google" class="fa fa-google-plus" style="color: #d34836;"></a>
           <p>OR</p>
           </div>
					<!-- <p>First Name <lable> *</lable></p>
					<input type="text" class="text"
					style="border:1px transparent solid;border-bottom:#00A65A 1px solid; " value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
					<p>Last Name <lable> *</lable></p>
					<input type="text" class="text"
					style="border:1px transparent solid;border-bottom:#00A65A 1px solid; " value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" > -->
					<p>Email Address <lable> *</lable></p>
					<input type="text" class="text" name="email"
					style="border:1px transparent solid;border-bottom:#00A65A 1px solid; " value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
					<p>Password <lable> *</lable></p>
					<input type="password" value="" class="topa" name="password"
		style="border:1px transparent solid;border-bottom:#00A65A 1px solid"; onfocus="this.value = '';" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
    <!-- <a href="/auth/facebook" class="decor"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    <a href="/auth/google" class="btn btn-info"><span class="fa fa-google"></span>google</a> -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
				<div class="sign-up">
					<input type="reset" value="clear">
					<input type="submit"  value="Signup" >


		</div>
		</form>
		<div class="clear"> </div>
		<h5>Do you have an account yet ? <a  class="signup play-icon popup-with-zoom-anim" href="/login">Login</a></h5>
	</div>
	</div>

		</div>
	</div>
</div>
	</div>
	<!--//end-copyright-->
</body>
</html>
