<!DOCTYPE html>
<html>
<h<!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

        <title>InvestNaira | Save, Invest, Compound</title>
</head>
<body onscroll="opacitypro()">
	<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
	<div class="logo_house_res"><img src="assets/img/ico/favicon.ico"></div>
	<ul class="nav">
    <li ><a href="/">Home</a> </li>
    <li><a href="#">Forum</a> </li>
    <li><a href="http://www.investnaira.com">Blog</a> </li>
    <li><a href="/dashboard">Dashboard</a> </li>
    <li class="active1"><a href="/strategy">Our Strategy</a> </li>
    </ul>
   <div class="beside_me" id="beside_me1" >
  <span onclick="help()">&#x2630;</span>
</div>
<div class="beside_me" id="beside_me2" style="display: none;">
  <span onclick="help2()">&#x2630;</span>
</div>
</div>
<ul class="res_header" id="hepp2">
  <li class="nicki" id="nicki"><a href="/">Home</a> </li>
    <li class="nicki" id="nicki1"><a href="#">Forum</a> </li>
    <li class="nicki" id="nicki2"><a href="#">Blog</a> </li>
    <li class="nicki" id="nicki3"><a href="/dashboard">Dashboard</a> </li>
    <li class="nicki" id="nicki4"><a href="/strategy">Our Strategy</a> </li>
</ul>


        <div class="main_cont_blg" id="main" >
 <h3>Investment Strategy</h3>

      <p> Dear Client, thank you for coming on board InvestNaira.
We are on a mission to build a Noah's Ark by helping you Save Smartly, Invest Wisely and Compound Wealth.

Your responsibility is to save, we would work to show you.
Our responsibility is to Invest, we would continue to focus on preservation of capital while maximising returns.
Together we compound wealth as we reinvest the returns of our collaboration over time.

Our Strategy for Investing your funds is two fold.
<br>
<br>1. Local Currency Exposuire (Riskless*)
<br>2. Global Currency Exposure. (Risky*)
 </p>

<h4>Our Local Currency Exposure.</h4>

			<p>We invest in Fixed Income returns in the Nigerian Securities market.
The Fixed Income we invest in are of two types.
<br>1. Bonds (2 years and above)
<br>2. Tbills. (Less than 1 year)<br>
<br>

</p>
<p>Bonds are fixed income return instruments that give a periodic coupon (mostly quarterly) on the sum invested. Bonds vary from 2 years and above.
Our bond selections include the FGN savings Bonds and CBN's bond auction. </p>

<p>Tbills - also known as Treasuries- are short term (less than 366 days) fixed return instruments. They pay a return at the begining of the tenor and principal is returned at the end of the investment period. In Nigeria, Tbills are done in 91, 183 and 366 days. </p>

      <h4>Our Global Currency Exposure.</h4>

    <p>  Our Global currency exposure is domiciled in the USD, the most liquid currency in the world. Over the past 4 years (2012 -2017), the USD has appreciated about 131% over the NGN, that's a compound annual rate of 18%.
      We have an arrangement with reputable brokers with over 3 decades of providing financial services to clients across several continents. (Alpari, FXpro and Saxo bank ) with access to their trading instruments.
      Our focus on the Global scene is premised on the most liqued currencies in the world, these are USD, GBP, JPY, AUD and CAD. Furthermore our exposure to dollars allows us to trade BTC-Bitcoins and WTI-Oil on the global scene.
</p>

  <h4>Expertise</h4>
			<p>We are staffed with Investment Veterans who have decades of experience in our focus areas (Global and Local Currencies).
While we make no boast of our prowess to conquer the market as past performance holds no guarantee for future returns, we are confident that our consistency over the years would do more to show the proof. </p>


      <h4>Tracking </h4>
      <p>Our Local Currency Exposure can be tracked by looking at the Tbills and NTM auction of the CBN on its <a href="https://www.cbn.gov.ng/" target="_blank">official website.</a>

Our Global Currency Exposure can be tracked on <a href="https://www.myfxbook.com" target="_blank">myFxbook</a> for further information.

In the Future, we plan to include asset classes in the Real Estate and Venture Capital space.
Currently, it is interesting to note that we have no exposure to the Nigerian Stock Market.

It is in the interest of our partners/investors that we continue to play to our forte. We thus would strive to do our job prudently and professionally.
<br>
<br>
Regards,
<br>The InvestNaira Team.</p>



            <h4>Contact Us</h4>

                  <p>If you have any questions about our investment strategy please contact us at: 
<br>InvestNaira<br>
No 7 Solaru Street<br>
Gbagada,<br>
Lagos.<br>
<br>
Email: Invest@InvestNaira.com</p>



        </div>

        </div>
        <div class="share_article" id="share_article" >
        				<!-- twitter -->
				<a href="http://twitter.com/home?status=investNaira" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter" style="color: #1DA1F2;"></i></a>
				<!-- Facebook -->
				<a href="https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook" style="color: #3b5998;"></i></a>
				<!-- Google+ -->
				<a href="https://plus.google.com/share?url=SHAREMESSAGE" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus" style="color: #d34836;"></i></a>
				<!-- StumbleUpon -->
				<a href="http://www.stumbleupon.com/submit?url=SHAREMESSAGE" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon" style="color: #f74425;"></i></a>
				<!-- LinkedIn -->
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=SHAREMESSAGE" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i  class="fa fa-linkedin" style="color: #0e76a8;"></i></a>
							</div>

              <div class="footer">
              <div class="foot_div">
              	<h3>tag cloud</h3>
              	<a href="#"><span class="tags_up"><i class="fa fa-chevron-right"></i>Forum</span></a><br />
              	<a href="#"><span class="tags_up"><i class="fa fa-chevron-right"></i>Blog</span></a><br />
              	<a href="/dashboard"><span class="tags_up"><i class="fa fa-chevron-right"></i>Dashboard</span></a><br />
              	<span class="tags_up"><i class="fa fa-chevron-right"></i>Profile</span><br />
              </div>
               <!-- <div class="foot_div" style="width:23%;">
               	<h3>get our montly newsletter</h3>
               	<form class="type_in">
               		<input type="email" name="email" placeholder="E-mail"
               		style="width: 40%;" class="tips">
               		<input type="submit" name="submit" value="submit" class="submit1" style="background-color: transparent;width: 30%;color: grey;display: inline-block;border:1px solid grey;">
               	</form>
               </div> -->
               <div class="foot_div" style="width:23%;">
                 <h3>Legal</h3>
                 <a href="/terms" style="color:grey;"> Terms & Conditions</a><br>
                 <a href="/privacy" style="color: grey;"> Privacy policy</a> <br>
                  <a href="/faq" style="color: grey;">FAQS</a>
              </div>
                <div class="foot_div">
                	<h3>contact us</h3>
                	<span class="con_span">
                	7, Solaru Street, Gbagada, Lagos<br />
                	<i class="fa fa-phone"></i>:08099921766,08077522997
                	</span>
                </div>
                <div class="foot_div">
                	<h3>Social</h3>
                	<div class="social_link">
          	<a href="https://www.instagram.com/investnaira"  target="_blank">  <span><i class="fa fa-instagram"></i> instagram</span></a><br />
          	<a href="https://www.facebook.com/investnaira"  target="_blank">  <span><i class="fa fa-facebook"></i> facebook</span></a><br />
        		<a href="https://www.twitter.com/investnaira"  target="_blank"><span><i class="fa fa-twitter"></i> twitter</span></a><br>
        		<a href="https://plus.google.com/u/0/107243716577182087525"  target="_blank"><span><i class="fa fa-google-plus"></i> google plus</span></a><br>
        	</div>

                </div>

              </div>

      </body>

      </html>
